<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us Form Template</title>
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="temp1.css">
</head>
<body>
  <div class="contact-us">
    <form>
      <input placeholder="Name" type="text" required>
      <input placeholder="Email" type="email" name="customerEmail">
      <input placeholder="Phone" type="tel" name="customerPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
      <button type="submit">SIGN UP</button>
    </form>
  </div>
</body>
</html>
